@import 'reset.scss';

.wrapper {
  min-height: 100vh;
  padding: 2rem 3rem;
  body {
    margin: 0;
  }
  header {
    padding-bottom: 3rem;
  }
  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
}
